RewriteEngine On
# 如果请求的不是文件或目录
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# 重写到index.html
RewriteRule ^(.*)$ index.html [L]

# 如果直接访问index.html，重定向到根目录
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.html\ HTTP/
RewriteRule ^index\.html$ https://james666.space/ [R=301,L] 